body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  color: rgb(255, 255, 255);
}
/*background-image: url('bgp_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;*/
